<!--custom child template-->

{% extends 'public/public_template.html' %}

{% block title %} server error {% endblock %}

{%block main %}

<div class='container'>
	<div class='row'>
		<div class='col'>
			<h1>Oooops</h1>
			<h3>You seem had unprocessed input such as zeros!! repeat by using inputs(values), if such problem continues, please report to;  management@fabrix360.com</h3>
			<hr>
			<!-- below will take you back to home-->
			<a href='/'>home</a>
		</div>
	</div>
</div>


{% endblock %}